extends layout
block content
    section.content-header
        h1 Dashboard
            small Control panel
    section.content
        div.row
            div.col-md-6
                div.box
                    div.box-header
                        h3.box-title Courses
                    div.box-body
                        table.table.table-bordered
                            tbody
                                tr
                                    th #
                                    th Title
                                    th Description
                                    th Question Count
                                -for (var x = 0; x < courses.length; x++)
                                    tr
                                        th #{x}
                                        th #{courses[x].title}
                                        th #{courses[x].description}
                                        th #{courses[x].questionCount}
                    div.box-footer.clearfix
            div.col-md-6
                div.box
                    div.box-header
                        h3.box-title User
                    div.box-body
                        table.table.table-bordered
                            tbody
                                tr
                                    th #
                                    th Username
                                    th Email
                                -for (var x = 0; x < users.length; x++)
                                    tr
                                        th #{x}
                                        th #{users[x].username}
                                        th #{users[x].email}