extends layout

block content
    div.span7.well#question
        form#play(qid=id)
            legend= question
            input.btn.btn-large.btn-block.answer(type="button",name="answer1",value=answer1)
            input.btn.btn-large.btn-block.answer(type="button",name="answer2",value=answer2)
            input.btn.btn-large.btn-block.answer(type="button",name="answer3",value=answer3)
            input.btn.btn-large.btn-block.answer(type="button",name="answer4",value=answer4)